body{
	margin: 0px;
	color:#fff;
}
h1{
	font-family: Metalista;
		font-weight: 500;
		line-height: 1.5;
		font-size: 90px;
		letter-spacing: 0.15em;
		text-transform: uppercase;
		margin: 0rem 0 1rem 0;
}
table, th, td {

  border: 3px solid white;
  border-collapse: collapse;
  padding: 10px 20px 10px 20px; 
}
.judul{
	animation-name: open-h1;
	animation-duration: 1s;
	position: relative;
	text-align: center;
	top: 0px;
}
.bg{
	background-image: url("../img/bg.jpg");
  	background-color: #cccccc;
  	height: 100%;
  	width: 100%;
  	background-position: center;
  	background-repeat: no-repeat;
 	background-size: cover;
  	position: fixed;
  	z-index: -99;
}
#nav{
	margin: 0px;
	height: 753px;
	width: 8%;
	background-color: #fff;
	opacity: 1;
	float: left;
}
.links{
	position: relative;
	top: 20%;

}
ul {
  list-style-type: none;
}
.logo{
	margin: 20px;
	position: fixed;
	opacity: 100;
	max-height: 100px;
	max-width: 100px;
}
#nav .active{
	opacity: 1;
}
.icon{
	position: relative;
	left: -20px;
	margin-top: 30px;
	max-height: 80px;
	max-width: 80px;
	opacity: 1 !important;
	filter: invert(0.4) brightness(1.7);
}
#nav .links .icon :hover{
	opacity: 1 !important;
}
.content-main{
	animation-name: open;
	animation-duration: 1s;
	position: relative;
	top: 90px;
	left: 450px;
}
.content{
	animation-name: open-pen;
	animation-duration: 1s;
	position: absolute;
	top: 25%;
	left: 25%;
}
.foto{
	float: left;
	max-width: 200px;
	max-height: 200px;
	margin-right: 50px;
}

.pend{
	float: left;
	max-width: 700px;
	max-height: 900px;
	position: relative;
	margin-left: 20px;
}
 .active .icon{
 		filter: none;
    }
.card-aktif{
	animation: open-pen;
	animation-duration: 1s;
	border-radius: 25px;
	position: absolute;
	width: 20%;
	height: 23%;
	top: 30%;
	left: 42%;
	background-color: #0D004C;
	opacity: 0.8;
	padding: 30px;
}
.card-lain{
	animation: open-pen;
	animation-duration: 1s;
	border-radius: 25px;
	position: absolute;
	width: 16%;
	height: 45%;
	top: 25%;
	left: 43%;
	background-color: #fff;
	padding: 40px;
}

@keyframes open-h1 {
  from {opacity: 0; top: -100px; }
  to {opacity: 1;top:0px;}
}

@keyframes open {
  from {opacity: 0; top: 50px; }
  to {opacity: 1;top:90px;}
}
@keyframes open-pen {
  from {opacity: 0; top: 0%; }
  to {opacity: 1;top:25%;}
}